::-webkit-scrollbar-thumb {
  color: #f9b500;
  background: #f9b500;
}

.good-header__menu {
  background-color: #ffffff;
}

.good-header__menu-item {
  color: #000;
}

.good-header__menu-item::after {
  background-color: #ffb900;
}

.good-header__contacts-email {
  color: #f9b500;
}

/* .good-name {
  background-image: url("../images/maths/bg.png");
} */

.good-name {
  background-color: rgba(33, 33, 33, 0.5);
}

.good-name button {
  background-color: #ffb900;
}

.good-details {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

.good-details--cards button {
  background-color: #ffb900;
}

.good-details--cards .gallery-button,
.good-details--cards .quantity-button {
  background-color: transparent;
}

.good-description {
  background-color: #55476e;
  background-image: none;
  color: #ffffff;
}

.good-reviews {
  background-color: #55476e;
  color: #ffffff;
}

.good-reviews__item {
  color: #000;
}

.good-reviews button.navigation-button {
  background-color: transparent;
}

.good-reviews__pagination-item--active {
  background-color: #f9b500;
}

.good-reviews--cards .good-reviews__pagination-item--active {
  background-color: transparent;
}

.good-order {
  background-color: #e0e0e0;
  background-image: none;
}

.good-order--cards .good-order__offer {
  color: #55476e;
}

.good-order--cards .good-order__offer-counter {
  color: #ffb900;
}

.offer-counter__days::before, 
.offer-counter__hours::before, 
.offer-counter__minutes::before, 
.offer-counter__seconds::before,
.offer-counter__days::after, 
.offer-counter__hours::after, 
.offer-counter__minutes::after, 
.offer-counter__seconds::after {
  background-color: #ffffff;
}

.good-order__form {
  color: #000000;
}

.good-order__form input[type="submit"] {
  background-color: #ffb900;
}

.good-footer {
  background-color: #292b2c;
}

.good-footer__subscribe-form::before {
  color: #fff;
}

.subscribe-form__submit {
  background-image: url("../../images/cards/button_subscribe.png");
}

.good-popup {
  background-color: #55476e;
  color: #fff;
}

.good-cooperation__form label {
  color: #fff;
}

.good-cooperation__form input[type="submit"] {
  background-color: #ffb900;
}

.back-to-top--visible:hover::before {
  background-color: #f9b500;
}

.good-ordering__tab--active {
  border-bottom: 3px solid #f9b500;
}

.good-ordering__gender input[type="radio"]:checked + label[for="good-ordering__male"]::before {
  background-image: url("../../images/icons/male_orange.png");
}

.good-ordering__gender input[type="radio"]:checked + label[for="good-ordering__female"]::before {
  background-image: url("../../images/icons/female_orange.png");
}

.good-ordering .jq-selectbox.focused {
  border-color: #f9b500;
}

.good-ordering__intercom input[type="radio"]:checked + label::before {
  background-color: #f9b500;
  border: 2px solid #f9b500;
}

.good-ordering__checkbox input[type="checkbox"]:checked + label::before {
  background-color: #f9b500;
  border: 1px solid #f9b500;
}

.good-ordering__upload-file label::before {
  background-image: url("../../images/icons/upload_file_orange.png");
}

.good-ordering__upload-file label {
  color: #f9b500;
}

.good-ordering input[type="submit"] {
  background-color: #ffb900;
  border: 1px solid #ffb900;
  color: #fff;
}

.good-ordering__personal-data input[type="checkbox"]:checked + label::before {
  background-color: #f9b500;
  border: 1px solid #f9b500;
}

.good-ordering__personal-data a {
  color: #f9b500;
}

@media screen and (max-width: 1243px) {

  /* Good header */

  .good-header__menu {
    background-color: #ffffff;
  }

  .good-header__menu-item {
    color: #000;
  }

  .good-header__menu-item::after {
    background-color: #f4c23d;
  }

  .good-header__menu-button--close {
    background-image: url("../../images/icons/menu_close.png");
  }

}